*, ::after, ::before {
    box-sizing: border-box;
    text-decoration: none;
}
.nav-container{
    background-color: #1c2022;
    font-family:'Josefin Sans';
    position:sticky!important;
    top:0;
    margin:0;
    padding: 0;
    z-index: 2;
    box-shadow: 0 0 1rem #1cb698;
}
.logo{
    font-size: 28px !important;
    color:white;
    text-align: center;
}
.m{
    color:red;
    font-family:'Josefin Sans';
}
.header{
    font-family:'Josefin Sans';
    display: flex;
    justify-content:center;
    font-weight: bold;
}
.nav-item{
    margin:0 1.3rem !important;
}
.nav-link{
    letter-spacing: 0.1rem;
}
.nav-link:hover{
    color:#00bfff !important;
    transform:scale(1.1,1.1);
}

.homepage-container{
    margin:0;
    padding:0;
    background-color:#1c2022; 
    font-family:'Josefin Sans';
    height:560px;
}

.mainpage{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100%;
}
.front-img{
    height:200px;
    width:200px;
    border:10px solid rgb(63, 200, 200);
    border-bottom-color: #1c2022;
    border-radius:50%;
}
.front-img:hover{
    transform:scale(1.1,1.1);
}
.img-center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.name {
    font-size: 2.5rem;
    font-weight: 600;
    padding: 0.75rem;
    color: white;
}
.mern{
    font-size:1.6rem;
    color:white;
}
.item{
z-index: 1;
}
.icons{
    display:flex;
    justify-content:space-evenly;
    flex-wrap: nowrap;
}
.icons a:hover{
    transform: translate(0,-1px);
}
.content-container{
    flex-direction: column;
}
.homepage-container{
    display:flex;
    justify-content: center;
    align-items: center;
}
i{
    color:rgb(66, 215, 235);
    padding:5px;
}

/*About Container*/

.about-container{
    background-color:#1e2326;
    margin:0;
    padding:0;
    margin-top: -10px;
    z-index: 1;
}
.about-head{
    text-align: center;
}
.about-head h3{
    font-size:50px;
    color: rgb(66, 215, 235);
    font-weight: bolder;    
    padding:20px;
}
.about-img{
    height:280px;
    width:280px;
    border-radius: 10%;
    border:10px solid #1c2022;
    box-shadow: 0 0 1rem #1cb698;
    display: flex;
    flex-wrap: wrap;
}
.about-first{
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.namecolor{
    color: rgb(66, 215, 235);
    font-weight: bold;
}
.font{
    font-size:20px;
    color:white;
}
p{
    font-size: 20px;
    color:white;
}
.abt{
    margin-top: 3rem;
}

/* SKILLS CONTAINER*/
.skills-container{
    background-color:#1c2022; 
    margin:0;
    padding:0;
}
.col-12 {
    flex: 0 0 auto;
    width: 100%;
}
.text-center {
    text-align: center!important;
}
.skills-head h3{
    font-size:50px;
    color: rgb(66, 215, 235);
    text-align: center;
    font-weight: bolder;    
    padding:20px;
}
h4{
    color: #00bfff;
}
.p-4 {
    padding: 1.5rem!important;
}
.skills-row{
    display: flex;
    justify-content:center;
}

/*Qualification Container*/

.Qualification-container{
    background-color:#1e2326;
    margin:0;
    padding:0;
}
.qualifications-head{
    color: #00bfff;
    text-align: center;
}
.qualifications-head h3{
    font-size:50px;
    color: rgb(66, 215, 235);
    text-align: center;
    font-weight: bolder;    
    padding:20px;
}
.bca{
    text-align: center;
    display: flex;
    justify-content: center;
    /* border:0.1px solid rgb(66, 215, 235); */
}
.bca h5{
    color: white;
}
.q1,.q2,.q3{
    /* border: 1px solid black; */
    width:340px;
    letter-spacing:1px;

}

/*Resume Button*/

.btn-down{
    text-align: center;
}
.btn-res{
    padding:5px;
    font-family:'Josefin Sans';
    width:180px;
    height:50px;
    letter-spacing: 4px;
    background-color: rgb(66, 215, 235);
    font-weight: bold;
    border-radius: 10%;
    border:1px solid transparent;
}
.btn-res:hover{
    transform: scale(1.1,1.1);
    color:#ea1538;
}
.btn-res span i {
    color:black;
}

/*Project Container*/
.project-container{
        background-color:#1c2022; 
        margin:0;
        padding:0;
}
.project-head{
    color: #00bfff;
    text-align: center;
}
.project-head h3{
    font-size:50px;
    color: rgb(66, 215, 235);
    text-align: center;
    font-weight: bolder;    
    padding:20px;
}
.pc1,.pc2,.pc3,.pc4{
    display: flex;
    justify-content:space-evenly;
}
.pricing-grid{
    width:250px;
    height:250px;
    border-radius: 0.5rem;
    object-fit: cover;
    border:1px solid rgb(66, 215, 235);
}

/*contact Container*/

.contact-container{
    background-color:#1e2326;
    margin:0;
    padding:0;
}
.contact-head h3{
    font-size:50px;
    color: rgb(66, 215, 235);
    text-align: center;
    font-weight: bolder;    
    padding:20px;
}
.contact-head{
color: #00bfff;
text-align: center;
}
.pc1,.pc2,.pc3,.pc4{
    margin: 2rem 0rem;
}
.Footer{
    background-color:#1c2022;
    margin:0;
    padding:0;
    height:7rem;
    display: flex;
    justify-content:center !important;
    align-items:center !important;
}
.Footer-text{
    color:white;
    font-size: 1.2rem;
}
.up{
    text-align: center ;
}
.up1{
    height:65px;
    width:65px;
    Padding:5px;
    letter-spacing:1px;
    border-radius: 50%;
    background-color: #00bfff;
    color:white;
}
.copyright-name{
    color: #00bfff;
}
.text-center {
    text-align: center!important;
}
.col-12 {
    flex: 0 0 auto;
    width: 100%;
}

